<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h3> add a new user </h><hr>
    <a href="/">home</a>

    <form action="/addUser" method="post"/>
      user name: <input name="name" value=""/> <br>
      email: <input name="email" value=""/> <br>
      age:
        <select name="age">
          <option value="1"/>1</option>
          <option value="5"/>5</option>
          <option value="10"/>10</option>
          <option value="20"/>20</option>
          <option value="30"/>30</option>
        </select>
      likes:
        <select name="like">
          <option value="1">fast cars</input>
          <option value="2">knitting</input>
          <option value="3">whisky</input>
          <option value="4">watching tv</input>
          <option value="5">diving</input>
          <option value="6">thai food</input>
        </select>

      <input type="submit" value="submit"/>
    </form>

  </body>
</html>
