<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <h3> all users and their likes </h3>
    <a href="/">home</a>
    <ul>
    {{#each joinedUserLikes}}
      <li>{{name}}, {{email}}, {{like}}</li>
    {{/each}}
    </ul>

  </body>
</html>
